/* general style */
body    { margin: 0; padding: 0; font-weight: 400; background-color: black; color: white; }
a       { color: #47aae0; font-weight: 400; }
a:hover { color: #2771b5; }
/* headlines */
h1 a, h2 a, h3 a, h4 a,
h5 a, h6 a                  { text-decoration: none; }
h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover      { text-decoration: underline; }
h1                          { font-size: 24px; }
h2                          { font-size: 20px; }
h3                          { font-size: 16px; }



/* layout elements */
div.container               { max-width: 880px; margin: 48px auto; padding: 0 40px; }
div.header                  { float: left; }
div.navigation              { float: right; }
div.header, div.navigation  {  margin-bottom: 8px; }
div.navigation ul           { list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0; }
div.body                    { clear: both; margin: 0 30px; line-height: 1.6; }
div.body ul li              { margin-top: 0px; }
div.footer                  { margin-top: 55px; font-size: 16px;
                              text-align: right; color: #7b8894; }
div.footer p                { margin-bottom: 16px; }
div.footer a                { color: #7b8894; }

/* layout exceptions for certain pages */
#contents                   { margin-top: 24px; }

.button {
  padding: 8px 16px;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
  color:white;
}

/* margins and stuff */
#subtext                           { margin-top:-20px; }

p, div.line-block, ul, ol, pre,
    table                       { margin: 15px 0 15px 0; }
dt                              { margin: 25px 0 16px 0; padding: 0; }
dd                              { margin: 16px 0 25px 40px; padding: 0; }
ul ol, ol ul, ul ul, ol ol      { margin: 10px 0; padding: 0 0 0 40px; }
li                              { padding: 0; }
h1 + p.date                     { margin-top: -25px; font-style: italic; }
blockquote                      { font-style: italic; }

